body{
    background-color: #f4f4f4 !important;
}

.navbar-brand {
    width: 70px;
    height: auto;
}

.text-red {
    color: #d30000;
}

.background-red {
    background-color: #d30000;
}

nav .container {
    font-weight: 600;
}

.navbar-brand {
    color: #d30000 !important;
    font-size: 30px !important;
    font-weight: 800;
}

.navbar-nav li a:hover, .navbar-nav li.active a, .navbar-nav li a:focus {
    color: #d30000 !important;
}

.section-second {
    background-color: #e9e1d4;
}

.major-effect:hover {
    transform: translateY(10px);
    cursor: pointer;
}

.wrap-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.wrap-card .card-effect  {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.card-body {
    transition: all 0.4s ease;   
}

.wrap-card:hover .card-body a {
    color: #000
}

.wrap-card:hover .card-effect{
    opacity: 0.8;
}

.wrap-card:hover .card-effect .see-more {
    color: #d30000;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
}

.student-img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 100%;
}

.social-icons i {
    color: #d30000;
}

.wrap-section {
    padding: 60px 0;
}

.social-icon:hover {
    transform: scale(1.5);
}

.footer {
    
}


